<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="vendedor">
      <h2 data-cy="vendedorDetailsHeading"><span jhiTranslate="concesionario6App.vendedor.detail.title">Vendedor</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ vendedor.id }}</span>
        </dd>
        <dt>
          <span jhiTranslate="concesionario6App.vendedor.nombre" [ngbTooltip]="'concesionario6App.vendedor.help.nombre' | translate"
            >Nombre</span
          >
        </dt>
        <dd>
          <span>{{ vendedor.nombre }}</span>
        </dd>
        <dt><span jhiTranslate="concesionario6App.vendedor.apellidos">Apellidos</span></dt>
        <dd>
          <span>{{ vendedor.apellidos }}</span>
        </dd>
        <dt><span jhiTranslate="concesionario6App.vendedor.email">Email</span></dt>
        <dd>
          <span>{{ vendedor.email }}</span>
        </dd>
        <dt><span jhiTranslate="concesionario6App.vendedor.telefono">Telefono</span></dt>
        <dd>
          <span>{{ vendedor.telefono }}</span>
        </dd>
        <dt><span jhiTranslate="concesionario6App.vendedor.dni">Dni</span></dt>
        <dd>
          <span>{{ vendedor.dni }}</span>
        </dd>
        <dt><span jhiTranslate="concesionario6App.vendedor.antiguedad">Antiguedad</span></dt>
        <dd>
          <span>{{ vendedor.antiguedad | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="concesionario6App.vendedor.salario">Salario</span></dt>
        <dd>
          <span>{{ vendedor.salario }}</span>
        </dd>
        <dt><span jhiTranslate="concesionario6App.vendedor.comision">Comision</span></dt>
        <dd>
          <span>{{ vendedor.comision }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Volver</span>
      </button>

      <button type="button" [routerLink]="['/vendedor', vendedor.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
      </button>
    </div>
  </div>
</div>
